<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav  navbar-fixed-side navbar-fixed-side-left">
                <li>@Html.ActionLink("Favouirate", "Product", "Destination")</li>
                <li>@Html.ActionLink("Products", "Index1", "Products1")</li>
                <li>@Html.ActionLink("Your orders", "Dest3", "Destinations")</li>
            </ul>
        </div>
        </div>
    </div>
</div>
